<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-sm-2">Placa</div>
        <div class="col-sm-2">
            <select id="selectPlaca" [(ngModel)]="placa">
                <option *ngFor="let placa of placas">
                    {{placa}}
                </option>
            </select>
        </div>
        <div class="col-sm-2">Data Inicial</div>
        <div class="col-sm-2">
            <angular2-date-picker (onDateSelect)="onDateSelect($event, 'startDate')" [(ngModel)]="startDate"
                [settings]="settings"></angular2-date-picker>
        </div>
        <div class="col-sm-2">Data Final</div>
        <div class="col-sm-2">
            <angular2-date-picker (onDateSelect)="onDateSelect($event, 'endDate')" [(ngModel)]="endDate"
                [settings]="settings"></angular2-date-picker>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let pp of pontoPermanencia">
                <div *ngIf="pp.permanencias.length > 0">
                    <div>{{ pp.ponto.nome }}</div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Placa</th>
                                <th scope="col">Chegada</th>
                                <th scope="col">Saida</th>
                                <th scope="col">Tempo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let permanencia of pp.permanencias">
                                <td>{{ permanencia.placa }}</td>
                                <td>{{ permanencia.getChegada().format('DD/MM/YYYY HH:mm:ss') }}</td>
                                <td>{{ permanencia.getSaida().format('DD/MM/YYYY HH:mm:ss') }}</td>
                                <td>{{ permanencia.getTempo().locale('pt').humanize() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let pp of pontoPermanencia">
                <div>{{ pp.ponto.nome }}</div>
                <div *ngFor="let permanencia of pp.permanencias">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ponto</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Data</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                                <th scope="col">Ignicao</th>
                                <th scope="col">Velocidade</th>
                                <th scope="col">Entrada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let posicao of permanencia.posicoes">
                                <td>{{ permanencia.ponto.nome }}</td>
                                <td>{{ posicao.placa }}</td>
                                <td>{{ posicao.dataPosicao }}</td>
                                <td>{{ posicao.latitude }}</td>
                                <td>{{ posicao.longitude }}</td>
                                <td>{{ posicao.ignicao }}</td>
                                <td>{{ posicao.velocidade }}</td>
                                <td>{{ posicao.entrada }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    -->
</div>

<!--

    Ponto Placa Chegada Saida Tempo

-->